@media(max-width:1024px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media(max-width:768px) {
    .client-testimonials .testimonials div {
        margin: 0 20px;
    }

    .header-container {
        padding: 20px;
    }

    .header nav ul li {
        padding: 15px;
    }
}

@media(max-width:425px) {
    .header nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        z-index: 1;
        left: 5%;
        top: 10%;
        background-color: hsl(0, 0%, 100%);
        width: 90%;
    }
    .header i.none{
        display: block;
    }
    .header nav .none{
        display: none;
    }
    .header nav ul{
        padding: 30px;
    }
    .header nav ul li{
        color: hsl(232, 10%, 55%);
    }
    .header nav ul li:last-child {
        background-color: hsl(51, 100%, 49%);
        width: 200px;
        margin: 0 auto;
    }
    .header .none{
        display: block;
    }
    .hero h2{
        font-size: 35px;
    }
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "first-image"
            "first-text";
    }

    .about .item {
        text-align: center;
    }

    .about .item:nth-child(1) {
        grid-area: first-text;
    }
    .about .item a{
        align-self: center;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .client-testimonials {
        margin: 30px 0;
    }

    .client-testimonials h3 {
        margin-bottom: 60px;
        font-size: 20px;
    }

    .client-testimonials .testimonials div {
        margin: 20px 0 40px;
    }

    .client-testimonials .testimonials div img {
        margin: 0 0 30px;
    }

    .client-testimonials .testimonials {
        flex-direction: column;
    }
}
@media(max-width:375px){
    .hero h2{
        font-size: 25px;
    }
    .about .item h3 {
        font-size: 30px;
    }
    .client-testimonials h3 {
        font-size: 20px;
        letter-spacing: 3px;
    }
}